/*///
 Main Components
*////

body {
  text-align: center;

  /*///
   MAIN (Footer) Styling
  *////

    .footer-text {
      @extend .main-font;
      background-color: $blue-bold-rgba8;
      color: white;
      font-size: 18px;
      text-align: center;
      margin-bottom: 0;
    }

    /*///
     D3 Components
    *////

    h1 {
      font-size: 42px;
    }

    .chart-type {
      font-size: 24px;
    }

    tspan::-moz-selection {
      background-color: $light-blue;
      fill: black;
    }
    tspan::selection {
      background-color: $light-blue;
      fill: black;
    }

    g:hover {

      .artist-rank {
        transition: all 0.5s ease 0s;
        fill: $green-bold;
      }
    }

  }
