/*///
 Main Components
*////

body {
  text-align: center;

  /*///
   MAIN (Footer) Styling
  *////

    .footer-text {
      @extend .main-font;
      background-color: $blue-bold-rgba8;
      color: white;
      font-size: 18px;
      text-align: center;
      margin-bottom: 0;
    }

    /*///
     D3 Components
    *////

    svg {
      margin: 0 auto;
    }

    button {
      color: black;
      background-color: $light-blue-rgba4;
      border: 5px solid #6e6c6c;
      outline-width: 0;
      padding: 10px 16px;
      margin: 2px 6px 0px 6px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;
      -webkit-appearance: button;
      cursor: pointer;
    }

    button:hover, {
      background-color: $light-blue;
      border: 5px solid $blue-bold;
    }

    .button-selected, .button-selected:hover {
      background-color: $blue-bold-rgba8;
      border: 5px solid black;
      border-bottom: 5px solid $blue-bold-rgba8;
      color: white;
    }

    .chart-type-menu-buttons {
      display: inline-block;
    }

    .line-vert {
      background-color: $blue-bold-rgba8;
      width: 10px;
      height: 14px;
    }

    .line-horiz {
      background-color: $blue-bold-rgba8;
      height: 20px;
      margin-bottom: 2px;
      border-top: 5px solid black;
    }

    h1 {
      font-size: 42px;
    }

    .chart-type {
      font-size: 24px;
    }

    tspan::-moz-selection {
      background-color: $light-blue;
      fill: black;
    }
    tspan::selection {
      background-color: $light-blue;
      fill: black;
    }

    g:hover {

      .artist-rank {
        transition: all 0.5s ease 0s;
        fill: $green-bold;
      }
    }

  }
